.DS_Store
.build*
_build*
.idea/
cmake-build-debug/
*~
android/thirdparty/SDL2/SDL2/VisualC/
*.iml
android/app/.externalNativeBuild/
android/distribution/
android/.gradle/
android/.idea/

bot_*

android/cmake.in/
android/gameproject/
android/njligames-njlic_engine/
android/thirdparty/
