[submodule "android/test_engine_repo"]
	path = android/test_engine_repo
	url = git@github.com:njligames/test_engine_repo.git
[submodule "buildbot_android"]
	path = buildbot_android
	url = git@github.com:njligames/buildbot_android.git
[submodule "buildbot_vr_android"]
	path = buildbot_vr_android
	url = git@github.com:njligames/buildbot_vr_android.git
[submodule "buildbot_linux"]
	path = buildbot_linux
	url = git@github.com:njligames/buildbot_linux.git
[submodule "buildbot_windows32"]
	path = buildbot_windows32
	url = git@github.com:njligames/buildbot_windows32.git
[submodule "buildbot_windows64"]
	path = buildbot_windows64
	url = git@github.com:njligames/buildbot_windows64.git
[submodule "buildbot_emscripten"]
	path = buildbot_emscripten
	url = git@github.com:njligames/buildbot_emscripten.git
