[submodule "android/test_engine_repo"]
	path = android/test_engine_repo
	url = git@github.com:njligames/test_engine_repo.git
[submodule "buildbot_android"]
	path = buildbot_android
	url = git@github.com:njligames/buildbot_android.git
[submodule "buildbot_vr_android"]
	path = buildbot_vr_android
	url = git@github.com:njligames/buildbot_vr_android.git
[submodule "buildbot_windows32"]
	path = buildbot_windows32
	url = git@github.com:njligames/buildbot_windows32.git
[submodule "buildbot_windows64"]
	path = buildbot_windows64
	url = git@github.com:njligames/buildbot_windows64.git
[submodule "buildbot_emscripten"]
	path = buildbot_emscripten
	url = git@github.com:njligames/buildbot_emscripten.git
[submodule "buildbot_vr_ios"]
	path = buildbot_vr_ios
	url = git@github.com:njligames/buildbot_vr_ios.git
[submodule "buildbot_macOS"]
	path = buildbot_macOS
	url = git@github.com:njligames/buildbot_macOS.git
[submodule "buildbot_appletv"]
	path = buildbot_appletv
	url = git@github.com:njligames/buildbot_appletv.git
[submodule "buildbot_ios"]
	path = buildbot_ios
	url = git@github.com:njligames/buildbot_ios.git
[submodule "buildbot_facebook"]
	path = buildbot_facebook
	url = https://github.com/njligames/buildbot_facebook.git
[submodule "buildbot_linux_clion"]
	path = buildbot_linux_clion
	url = git@github.com:njligames/buildbot_linux_clion.git
