.DS_Store
.build*
_build*
.idea/
cmake-build-debug/
*~
android/thirdparty/SDL2/SDL2/VisualC/
*.iml
android/app/.externalNativeBuild/
android/distribution/
android/.gradle/
android/.idea/

bot_*

android/cmake.in/
android/gameproject/
android/njligames-njlic_engine/
android/thirdparty/
android/local.properties

android/res/*
android/app/src/main/jniLibs/arm64-v8a/*.so
android/app/src/main/jniLibs/armeabi-v7a/*.so
android/app/src/main/jniLibs/x86/*.so
android/app/src/main/jniLibs/x86_64/*.so

